* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header{
    display: block;
    border: 1px solid black;

}

header div nav{
    display: flex;
    align-content: center;
    flex-direction: row;

}