* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Yellowtail', cursive;
}
body .fundo{
    position: fixed;
    height: 150%;
    z-index: -1;
}

