* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    background:linear-gradient(rgba(255,255,255,.5), rgba(0,0,255,.5)100%);
    font-family: 'Yellowtail', cursive;
}

header .container{
    display: flex;
    justify-content: end;
    padding: 30px 30px;
    
}
header a{
    text-decoration: none;
    text-transform:capitalize;
    color: rgba(66, 66, 240, 0.7);
    margin-right: 20px;
    font-size: 30px;
    border-radius: 100%;
}
header a:hover{
    color: rgb(245, 245, 250);
    transition: 1.5s;
    background-color: rgb(91, 5, 228);
    padding: 10px 20px;
}
.centro{
    text-align: center;
    margin-top: 200px;
    color: rgba(22, 19, 212, 0.3);
    font-size: 100px;
}